body {
    margin-top: 40px; 
    background-color: #9fd3c7;/* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
  }
  
body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }
  
.navbar {
    color: white;
    font-size: 30px;
}

.table tbody tr:nth-child(even){
    background-color: #f2f9f1;
}

.table tbody tr:nth-child(odd){
    background-color: #e7eaf6;
}

  
@media (min-width: 576px) {
    body::before {
      content: "SM";
    }
}
  
@media (min-width: 768px) {
    body::before {
      content: "MD";
    }
}
  
@media (min-width: 992px) {
    body::before {
      content: "LG";
    }
}
  
@media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
}
  
@media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
}