*{
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    background-color: midnightblue;
    margin: 0;
    padding: 20px 40px;
    font-size: 30px;
    color: white;
}

.navbar li {
    display: inline;
} 

.float-right {
    float: right;
    display: inline;
    justify-content: space-evenly;
    word-spacing: 40px;
}

.main{
    display: flex;
    min-height: 92vh;
}

.left{
    width: 30%;
    background: white;
}

h2{
    color: black;
    text-align: center;
    padding: 20px;
}
.right{
    width:70%;
}

table th, td{
    width:75%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 8px;
}

tr:nth-child(even){
    background-color: aqua;
    
}
.charts{
    min-height: 50vh;
    
}

.performance{
    min-height: 40vh;
    min-width: 40%;
    background-color: crimson;
}

.articles{
    min-height: 40vh;
    min-width: 60%;
    background-color: aqua;
}

.bottom-div{
    display: flex;
    flex-direction: row;
}
